#introduction {
  h1 {
    display: block;
    text-align: center;
    font-family: "Marhey", cursive;
    color: $primary-5;
    font-size: 9.6rem;
  }
  @media screen and (max-width: 800px) {
    h1 {
      font-size: 7rem;
    }
  }
}
