#root {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  max-width: 116rem;
  margin: auto;
  padding: 4rem;
  background: $primary-1;
}
@media screen and (max-width: 80rem) {
  #root {
    padding: 3rem;
  }
}
@media screen and (max-width: 40rem) {
  #root {
    padding: 2rem;
  }
}
