$gray-0: #000000;
$gray-1: #202020;
$gray-2: #3f3f3f;
$gray-3: #7f7f7f;
$gray-4: #bebebe;
$gray-5: #f5f5f5;
// primary colors
$primary-0: #0d1f1a;
$primary-1: #133d31;
$primary-2: #16614c;
$primary-3: #0d8b68;
$primary-4: #01c38d;
$primary-5: #00e1a3;
