.chosen-players {
  display: grid;
  gap: 3rem;
  max-width: 40rem;
  margin: auto;
  h2 {
    text-align: center;
    font-size: 3.2rem;
    color: $primary-5;
    font-family: "Rubik Iso";
  }
  #player1 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: $primary-3;
    color: $primary-1;
    &:hover,
    &:focus {
      background-color: $primary-4;
      color: primary-0;
    }
  }
  #player2 {
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    background-color: $primary-3;
    color: $primary-1;
    &:hover,
    &:focus {
      background-color: $primary-4;
      color: primary-0;
    }
  }
  #play {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    font-size: 1.6rem;
    border-radius: 5rem;
    background: linear-gradient($primary-5, $primary-2);
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.3);
    gap: 1rem;
    font-weight: bold;
    img {
      transition: 0.3s;
      rotate: -35deg;
    }
    &:hover {
      background: linear-gradient($primary-5, $primary-2) !important;
    }
    &:hover img {
      rotate: 0deg;
    }
  }
}
