* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: $primary-0;
  color: $gray-5;
  font-size: 1.6rem;
}
img {
  display: block;
}
button {
  border-radius: 0.5rem;
  padding: 1rem 3.2rem;
  border: none;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $primary-5;
  }
}
